.photos {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.photo-element {
  position: relative;
  width: 50%;
  height: 350px;
  padding: 20px;
}

.photo-element:nth-child(2n + 0) {
  padding: 20px;
}

.photo-element-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #12195f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.photo-element-content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #12195f;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0,0,0.2,1);
  transition: all 0.3s cubic-bezier(0,0,0.2,1);
}

.photo-element-content:hover::before {
  opacity: 0.5;
}

.photo-element-content:hover > .photo-element-user-image {
  margin-top: initial;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.photo-element-content:hover > .photo-element-user-name {
  margin-top: initial;
}

@media screen and (max-width: 700px) {

  .photos {
    flex-direction: column;
  }

  .photo-element {
    width: 100%;
    height: 400px;
    padding: 20px;
  }

}